In [0]:
%sql
DESCRIBE  databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_listing

In [0]:
%sql
DESCRIBE databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_review

In [0]:
%sql
SELECT 
    * 
FROM 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_listing AS l
INNER JOIN
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_review AS r
ON 
    l.listing_id = r.listing_id;

In [0]:
%sql
CREATE OR REPLACE TABLE databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined AS
SELECT 
    CAST(l.listing_id AS STRING) AS listing_id,
    CAST(l.list_name AS STRING) AS list_name,
    CAST(l.host_id AS STRING) AS host_id,
    CAST(l.host_identity_verified AS STRING) AS host_identity_verified,
    CAST(l.host_name AS STRING) AS host_name,
    CAST(l.neighborhood_group AS STRING) AS neighborhood_group,
    CAST(l.neighborhood AS STRING) AS neighborhood,
    CAST(l.lat AS DOUBLE) AS lat, -- Latitude as DOUBLE
    CAST(l.long AS DOUBLE) AS long, -- Longitude as DOUBLE
    CAST(l.country AS STRING) AS country,
    CAST(l.country_code AS STRING) AS country_code,
    CAST(l.instant_bookable AS STRING) AS instant_bookable,
    CAST(l.cancellation_policy AS STRING) AS cancellation_policy,
    CAST(l.room_type AS STRING) AS room_type,
    CAST(l.construction_year AS INT) AS construction_year, -- Year as INT
    CAST(REGEXP_REPLACE(l.price, '\\$', '') AS DECIMAL(10,2)) AS price, -- Remove $ and cast to DECIMAL
    CAST(REGEXP_REPLACE(l.service_fee, '\\$', '') AS DECIMAL(10,2)) AS service_fee, -- Remove $ and cast to DECIMAL
    CAST(l.minimum_nights AS INT) AS minimum_nights, -- Minimum Nights as INT
    CAST(l.number_of_reviews AS INT) AS number_of_reviews, -- Number of Reviews as INT
    CASE 
        WHEN r.last_review IS NULL THEN NULL
        ELSE TO_DATE(r.last_review, 'd/M/yyyy')
    END AS last_review_date, -- Parse last_review to DATE
    CAST(r.reviews_per_month AS DECIMAL(10,2)) AS reviews_per_month, -- Reviews Per Month as DECIMAL
    CAST(r.review_rate_number AS DECIMAL(10,2)) AS review_rate_number, -- Review Rate Number as DECIMAL
    CAST(r.calculated_host_listings_count AS INT) AS calculated_host_listings_count, -- Listings Count as INT
    CAST(r.availability_365 AS INT) AS availability_365 -- Availability as INT
FROM 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_listing l
JOIN 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_review r
ON 
    l.listing_id = r.listing_id;

In [0]:
%sql
CREATE OR REPLACE TABLE databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined AS
SELECT 
    CAST(l.listing_id AS STRING) AS listing_id,
    CAST(l.list_name AS STRING) AS list_name,
    CAST(l.host_id AS STRING) AS host_id,
    CAST(l.host_identity_verified AS STRING) AS host_identity_verified,
    CAST(l.host_name AS STRING) AS host_name,
    CAST(l.neighborhood_group AS STRING) AS neighborhood_group,
    CAST(l.neighborhood AS STRING) AS neighborhood,
    CAST(l.lat AS DOUBLE) AS lat, 
    CAST(l.long AS DOUBLE) AS long, 
    CAST(l.country AS STRING) AS country,
    CAST(l.country_code AS STRING) AS country_code,
    CAST(l.instant_bookable AS STRING) AS instant_bookable,
    CAST(l.cancellation_policy AS STRING) AS cancellation_policy,
    CAST(l.room_type AS STRING) AS room_type,
    CAST(l.construction_year AS INT) AS construction_year, 
    TRY_CAST(REGEXP_REPLACE(l.price, '\\$', '') AS DECIMAL(10,2)) AS price, 
    TRY_CAST(REGEXP_REPLACE(l.service_fee, '\\$', '') AS DECIMAL(10,2)) AS service_fee, 
    CAST(l.minimum_nights AS INT) AS minimum_nights, 
    CAST(l.number_of_reviews AS INT) AS number_of_reviews, 
    CASE 
        WHEN r.last_review IS NULL THEN NULL
        ELSE TO_DATE(r.last_review, 'd/M/yyyy')
    END AS last_review_date, 
    TRY_CAST(REGEXP_REPLACE(r.reviews_per_month, ',', '') AS DECIMAL(10,2)) AS reviews_per_month, 
    TRY_CAST(REGEXP_REPLACE(r.review_rate_number, ',', '') AS DECIMAL(10,2)) AS review_rate_number, 
    CAST(r.calculated_host_listings_count AS INT) AS calculated_host_listings_count, 
    CAST(r.availability_365 AS INT) AS availability_365 
FROM 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_listing l
JOIN 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_review r
ON 
    l.listing_id = r.listing_id;

In [0]:
%sql
SELECT DISTINCT neighborhood_group
FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined;

In [0]:
%sql
SELECT COUNT(*) AS total_record_listing FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_review;

In [0]:
%sql
SELECT COUNT(*) AS total_records_review FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_listing;

In [0]:
%sql
SELECT neighborhood_group, COUNT(*) AS listing_count
FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined
GROUP BY neighborhood_group;

In [0]:
%sql
SELECT 
    CASE 
        WHEN LOWER(neighborhood_group) = 'manhattan' OR LOWER(neighborhood_group) = 'manhatan' THEN 'Manhattan'
        WHEN LOWER(neighborhood_group) = 'brooklyn' OR LOWER(neighborhood_group) = 'brookln' THEN 'Brooklyn'
        WHEN LOWER(neighborhood_group) = 'queens' THEN 'Queens'
        WHEN LOWER(neighborhood_group) = 'staten island' THEN 'Staten Island'
        WHEN LOWER(neighborhood_group) = 'bronx' THEN 'Bronx'
        ELSE NULL
    END AS standardized_neighborhood_group
FROM 
    databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined
GROUP BY 
    standardized_neighborhood_group;

In [0]:
%sql
CREATE OR REPLACE TABLE databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined AS
SELECT 
    *, 
    CASE 
      WHEN LOWER(neighborhood_group) = 'manhattan' OR LOWER(neighborhood_group) = 'manhatan' THEN 'Manhattan'
      WHEN LOWER(neighborhood_group) = 'brooklyn' OR LOWER(neighborhood_group) = 'brookln' THEN 'Brooklyn'
      WHEN LOWER(neighborhood_group) = 'queens' THEN 'Queens'
      WHEN LOWER(neighborhood_group) = 'staten island' THEN 'Staten Island'
      WHEN LOWER(neighborhood_group) = 'bronx' THEN 'Bronx'
      ELSE NULL
    END AS standardized_neighborhood_group
FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined;

In [0]:
%sql
SELECT listing_id , COUNT(*)
FROM 
  databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined
GROUP BY listing_id
HAVING COUNT(*) > 1;

In [0]:
%sql
CREATE OR REPLACE TABLE databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined AS
SELECT
  *
FROM 
  databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined
WHERE 
  listing_id IS NOT NULL
  AND host_id IS NOT NULL
  AND neighborhood IS NOT NULL
  AND price IS NOT NULL;

In [0]:
%sql
SELECT neighborhood, COUNT(*) AS listing_count
FROM databricks_ws_ec12ba49_a47a_48b9_b15a_1d80e624a8b2.default.airbnb_combined
GROUP BY neighborhood;